
/dataset/Modelo Cartas/Playing Cards.v4-yolov8n.tensorflow
/dataset/Modelo Juego/CuteCards - asset pack
/program/node_modules
/dataset/workspaceCards/Playing Cards.v4-yolov8n.tensorflow
/dataset/workspaceCards/.ipynb_checkpoints
dataset/workspaceCards/valid.record
dataset/workspaceCards/train.record
dataset/workspaceCards/test.record
dataset/workspaceCards/models/
dataset/workspaceCards/centernet_hg104_512x512_coco17_tpu-8.tar.gz8xwo_wp_.tmp
/dataset/workspaceCards/BCC.v1-bccd.coco
/dataset/workspaceCards/bccd_coco_tfrecords
/dataset/workspaceCards/trained_model
/dataset/workspaceCards/trainModel
/dataset/workspaceCards/PlayingCards.v4-yolov8n.coco
dataset/workspaceCards/tfRecords/test-00000-of-00001.tfrecord
dataset/workspaceCards/tfRecords/train-00000-of-00001.tfrecord
dataset/workspaceCards/tfRecords/valid-00000-of-00001.tfrecord
dataset/workspaceCards/Playing Cards.v4-yolov8n.coco.zip
/dataset/.Trash-0
