dataset/workspaceCards/centernet_hg104_512x512_coco17_tpu-8.tar.gz8xwo_wp_.tmp
/dataset/workspaceCards/.ipynb_checkpoints
dataset/workspaceCards/models/
/dataset/workspaceCards/BCC.v1-bccd.coco
/dataset/workspaceCards/bccd_coco_tfrecords
/dataset/workspaceCards/trained_model
/dataset/workspaceCards/trainModel
/dataset/workspaceCards/PlayingCards.v4-yolov8n.coco
dataset/workspaceCards/tfRecords/test-00000-of-00001.tfrecord
dataset/workspaceCards/tfRecords/train-00000-of-00001.tfrecord
dataset/workspaceCards/tfRecords/valid-00000-of-00001.tfrecord
dataset/workspaceCards/Playing Cards.v4-yolov8n.coco.zip
/dataset/workspaceCards/PlayingCards.v4-yolov8n.coco
/program/node_modules
/dataset/.Trash-0
/dataset/workspaceGame/__pycache__
dataset/workspaceGame/.DS_Store
/dataset/workspaceGame/.ipynb_checkpoints
/env
/dataset/workspaceGame/Model2/__pycache__
/dataset/workspaceGame/models/v1/logs
/dataset/workspaceGame/models/v2/logs
/dataset/workspaceGame/Blackjack/__pycache__
/dataset/workspaceGame/Network/__pycache__
