<!DOCTYPE html>
<html lang="en">

<script src = "../serverConnection/connect.js"></script>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Server Connection</title>
</head>
    <h1>
        Server Connection
    </h1>
    <label> IP:   </label> <input type:"text id="ipaddress"> <br>
    <label> Port: </label> <input type:"text id="ipaddress"> <br>
    <br>
    <input type="button" value = "Test Connection">
    <input type="button" value = "Connect">

</html>